<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make Question</title>
</head>
<body>
<form action="{% url 'ask question' %}" method="POST">
    <p>title : <input type="text" name="title"></p>
    <p>Question :<textarea name="body"></textarea></p>
    {% csrf_token %}
    <select name="users" id="users">
        {% for u in users %}
            <option value="{{ u.id }}">{{ u.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" name="submit" value="submit">
</form>
</body>
</html>