<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
<br>
<form action="{% url 'search' %}" method="GET">
    <input type="text" name="search" value="search" placeholder="search">
    <input type="submit">
</form>
<br>
<h1>Question</h1>
User : {{ question.user_id.name }} <br>
Title : {{ question.title }} <br>
Question : {{ question.body }}


<h1>Answers</h1>
{% for answer in answers %}
    <hr>
    User : {{ answer.user_id.name }} <br>
    Answer : {{ answer.body }}
{% endfor %}
<br>
<br>
<br>
<br>
<div class="pagination">
    <span class="step-links">
        {% if answers.has_previous %}
            <a href="http://127.0.0.1:8000/stack/q_answers-{{ question.id }}-1">&laquo; first</a>
            <a href="http://127.0.0.1:8000/stack/q_answers-{{ question.id }}-{{ answers.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ answers.number }} of {{ answers.paginator.num_pages }}.
        </span>

        {% if answers.has_next %}
            <a href="http://127.0.0.1:8000/stack/q_answers-{{ question.id }}-{{ answers.next_page_number }}">next</a>
            <a href="http://127.0.0.1:8000/stack/q_answers-{{ question.id }}-{{ answers.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>